<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 margin50top">

    <!-- need to add a button to give the list a name IN CASE OF IT BEING EMPTY -->
    <h1><%= @list.name  %></h1>
    <p>Please add a movie to your <strong><%= @list.name %></strong> list.</p>
    <% if @list.name.empty? %>
    <p><%= link_to "Give your list a name", new_list_path, class: 'btn btn-large btn-success' %></p>
    <% end %>


    <p>
    <%= simple_form_for @movie, method: "get", url:edit_list_path(@list.id) do |f| %>
      <%= f.input :name, label: 'What movie?', placeholder: 'Terminator' %>
      <%= f.button :submit, value: 'Search', class: 'btn btn-large btn-success' %>
    <% end %>

    <% if !@movies.nil? %>
    <%= render 'shared/search_results', list: @list, movies: @movies %>
    <% end %>
    </p>

<!-- card should start here -->

<% @list.movie_lists.each do |movie_list| %>
  <p><strong><%= movie_list.movie.name %></strong></p>
  <p><%= movie_list.movie.release_date %></p>
  <p><%= movie_list.movie.overview %></p>
  <p>
    <%= link_to movie_url(movie_list.movie.id, only_path: false) do %>
      <%= image_tag movie_list.movie.poster_url %>
    <% end %>
  </p>
  <p><%= button_to "Remove movie", list_remove_movie_path(list_id: @list.id, id: movie_list.id),  method: :delete, class:"btn btn-success btn-lg width50 text-center"%>
    <%= render 'shared/facebook_btn', movie: movie_list.movie %>

  </p>
  <% end %>




    </div>
  </div>
</div>


