<body>

  <div class="background-signup" style="background: url(<%= image_path 'background-movies.png'%>)">

    <div class="container">
      <div class="row">
       <div class="sign-up-card">

        <!-- need to add a button to give the list a name IN CASE OF IT BEING EMPTY -->
        <div class="form-card">
          <h2>Thanks for creating <span><%= @list.name%> </span>list</h2>
          <hr>
          <br>
          <p>Now, please add a movie</p>
          <% if @list.name.empty? %>
          <p><%= link_to "Give your list a name", new_list_path, class: 'btn btn-large btn-success' %></p>
          <% end %>

          <p>

            <%= simple_form_for @movie, method: "get", url:edit_list_path(@list.id) do |f| %>


            <%= f.input :name, label: false, placeholder: 'Terminator' %>

            <%= f.button :submit, value: 'Search', class: 'btn btn-large btn-success' %>
            <% end %>
          </div>

        </div>

      </div>
    </body>

    <div class="col-sm-3">

      <% if !@movies.nil? %>
      <%= render 'shared/search_results', list: @list, movies: @movies %>
      <% end %>
    </p>
  </div>

  <!-- card should start here -->
  <div class="col-sm-12">
    <% @list.movie_lists.each do |movie_list| %>
    <%= render 'shared/movie_card_horizontal', movie: movie_list.movie, list: @list %>
    <% end %>
  </div>



</div>



