<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 margin50top">

    <h1><%= @list.name  %></h1>
    <p>Please add a movie to your <strong><%= @list.name %></strong> list.</p>

<% @list.movie_lists.each do |movie_list| %>
  <p><strong><%= movie_list.movie.name %></strong></p>
  <p><%= movie_list.movie.release_date %></p>
  <p><%= movie_list.movie.overview %></p>
  <p><%= image_tag movie_list.movie.poster_url %></p>
  <p><%= button_to "Remove movie", list_remove_movie_path(list_id: @list.id, id: movie_list.id),  method: :delete, class:"btn btn-success btn-lg width50 text-center"%></p>
  <% end %>


<p>

<%= simple_form_for @movie, method: "get", url:list_search_results_path(@list.id) do |f| %>
  <%= f.input :name, label: 'What movie?', placeholder: 'Terminator' %>
  <%= f.button :submit, value: 'Add movie to list', class: 'btn btn-large btn-success' %>
<% end %>


</p>


    </div>
  </div>
</div>


