<!-- banner starting here -->

<div class="banner" style="background: linear-gradient(-140deg, rgba(2,101,131,-0.4) 0%, rgba(47,34,40,9.6) 89%), url(<%= image_path 'background.jpg'%>); background-position: bottom">



  <!-- banner sentence -->

  <div class="row">
    <div class="banner-header">
      <p><span>Curated</span> movies from your <span> close friends</span></p>
    </div>
  </div>

  <!-- Search form -->
  <div class="row">
    <div class="banner-content">

      <form action=<%= root_path %> method="get">

        <input type="text" name="search_value" class="navbar-wagon-search-input text-left" placeholder="Search movie">

        <button type="submit" class="btn button-banner">
          <i class="fa fa-search"></i>
        </button>
        </div>
      </form>


    </div>
  </div>
</div>



<% if @movie_results.size > 0 %>
<div class="container">
  <div class="row">
    <h3>Search Results Movies</h3>
    <% @movie_results.each do |movie|%>

<%= render "shared/movie_card_horizontal", movie: movie %>

    <% end %>
  </div>
</div>
<% end %>


<% if @list_results.size > 0 %>
<div class="container">
  <div class="row">

  <div class="search-result-section">
    <h3>Search Results Lists</h3>
</div>
    <% @list_results.each do |list|%>

<%= render "shared/list_card", list: list%>

    <% end %>
  </div>
</div>
<% end %>

<% if @genre_results.size > 0 %>
<div class="container">
  <div class="row">
    <h3>Search Results Genres</h3>
    <% @genre_results.each do |g|%>


   <% g.movies.each do |movie| %>
    <%= render "shared/movie_card_horizontal", movie: movie %>
    <% end %>
    <% end %>
  </div>
</div>
<% end %>

<!-- end of banner -->



<!-- top users section  -->


<!-- end of top users section  -->

  <div class="container">
    <div class="row">
      <div class="text-center product-header">
        <a href="/lists/new" class=" btn navbar-button">Start creating your list now</a>
      </div>
    </div>
  </div>

  <!-- banner sentence -->
