<!-- banner starting here -->



<div class="banner" style="background: linear-gradient(-140deg, rgba(2,101,131,-0.4) 0%, rgba(47,34,40,9.6) 89%), url(<%= image_path 'background.jpg'%>); background-position: bottom">



<!-- banner sentence -->

<div class="row">
<div class="banner-header">
  <p><span>Currated</span> movies from your <span> close friends</span></p>
</div>
</div>

     <!-- Search form -->
     <div class="row">
<div class="banner-content">
<div class="col-sm-2">


</div>


    <form action=<%= dashboard_url %> method="get" class="navbar-wagon-search col-sm-4">
        <input type="text" name="search_value" class="navbar-wagon-search-input" placeholder="Search something">
        <button type="submit" class="navbar-wagon-search-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>


 <select class="banner-form form-control col-sm-2 input-lg">
        <option>Title</option>
        <option>Genre</option>
        <option>Mood</option>
      </select>

<div class="col-sm-2">
    <a class="btn button-banner">SEARCH</a>
  </div>
</div>
</div>
</div>

<div class="col-sm-2">

</div>

<!-- end of banner -->
<div class="container">
<div class="row">
<div class="top-list">

<div class="text-center product-header">
            <p><span>Movies</span> top lists</p>
          </div>

</div>
</div>
</div>


<!-- top users section  -->

<div class="container">
<div class="row">
<div class="top-users">

<div class="text-center product-header">
            <p><span>Olli</span> top users</p>
          </div>


 <script type="text/javascript">
        jssor_1_slider_init = function() {

            var jssor_1_options = {
              $AutoPlay: true,
              $Idle: 0,
              $AutoPlaySteps: 4,
              $SlideDuration: 2500,
              $SlideEasing: $Jease$.$Linear,
              $PauseOnHover: 4,
              $SlideWidth: 140,
              $Cols: 7
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*responsive code begin*/
            /*remove responsive code if you don't want the slider scales while window resizing*/
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 809);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*responsive code end*/
        };
    </script>
    <style></style>
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:100px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:100px;overflow:hidden;">
            <div>
             <%= image_tag "movies1", :data => {:u => "image"} %>

            </div>
            <div>
             <%= image_tag "movies1", :data => {:u => "image"} %>

            </div>
            <div>
             <%= image_tag "movies1", :data => {:u => "image"} %>

            </div>
            <div>
             <%= image_tag "movies1", :data => {:u => "image"} %>

            </div>
            <div>
             <%= image_tag "movie1", :data => {:u => "image"} %>

            </div>
            <div>
             <%= image_tag "movie1", :data => {:u => "image"} %>

            </div>
            <div>
                <%= image_tag "movie1", :data => {:u => "image"} %>
            </div>
            <div>
             <%= image_tag "movie1.png", :data => {:u => "image"} %>

            </div>
            <div>
             <%= image_tag "movie1", :data => {:u => "image"} %>

            </div>
            <div>
             <%= image_tag "movie1", :data => {:u => "image"} %>

            </div>
            <div>
             <%= image_tag "movie1", :data => {:u => "image"} %>

            </div>



            <a data-u="any" href="http://www.jssor.com" style="display:none">Scrolling Logo Thumbnail Slider</a>




        </div>
    </div>

</div>
</div>
</div>


<!-- end of top users section  -->



<div class="container">
<div class="row">

<div class="text-center product-header">

<a href="/lists/new" class=" btn button-home">Start creating your list now.</a>


</div>
</div>
</div>
