<!DOCTYPE html>

<html>
  <head>
    <title>OLLi</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>


    <!-- Facebook stuff -->
    <meta property="og:url"           content="https://olli-app.herokuapp.com/lists/8/edit" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Balas & Bolinhos" />
    <meta property="og:description"   content="A group of friends meet and set out to rob a gas station"  />
    <meta property="og:image"         content="https://image.tmdb.org/t/p/w640//nSb8GPKopcAgLh1SW0Knf3AEgNw.jpg" />


  </head>
  <body>

  <!-- Facebook sharing JS -->
    <%= yield(:facebook_js) %>


    <%= render 'shared/navbar' %>

    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>


  </body>


</html>

