<!DOCTYPE html>

<html>
  <head>
    <title>OLLi</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>


    <!-- Facebook stuff -->
    <meta property="og:url"           content="https://olli-app.herokuapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="OLLi" />
    <meta property="og:description"   content="Curated movie suggestions from your friends"  />
    <meta property="og:image"         content="http://i.imgur.com/gHxTO6c.png" />


  </head>
  <body>

  <!-- Facebook sharing JS -->
    <%= yield(:facebook_js) %>


    <%= render 'shared/navbar' %>

    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>


  </body>


</html>

