<!DOCTYPE html>
<html>
  <head>
    <title>OLLi</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>


    <!-- Facebook stuff -->
    <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Your Website Title " />
    <meta property="og:description"   content="Your description test" />
    <meta property="og:image"         content="http://www.unsplash.it/40/40" />


  </head>
  <body>

  <!-- Facebook sharing JS -->
    <%= yield(:facebook_js) %>


    <%= render 'shared/navbar' %>

    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>


  </body>


</html>

